@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        @Html.Action("CharacterPartial", new { character = item })
    }
</div>
<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-modal">Add character</button>
    </div>
</div>



<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New character</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    
                <form id="character-create" method="post" action="/Home/AddCharacter">
                    <div class="form-group">
                        <label for="character-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" name="charName" id="character-name">
                    </div>
                    <div class="form-group">
                        <label for="character-class" class="col-form-label">Class:</label>
                        <input type="text" class="form-control" name="charClass" id="character-class">
                    </div>
                    <div class="form-group">
                        <label for="character-strength" class="col-form-label">Strength:</label>
                        <input type="range" min="0" max="5" class="form-control" name="strength" id="character-strength">
                    </div>
                    <div class="form-group">
                        <label for="character-strength" class="col-form-label">Dexterity:</label>
                        <input type="range" min="0" max="5" class="form-control" name="dex" id="character-dexterity">
                    </div>
                    <div class="form-group">
                        <label for="character-strength" class="col-form-label">Wits:</label>
                        <input type="range" min="0" max="5" class="form-control" name="wits" id="character-wits">
                    </div>
                    <div class="form-group">
                        <label for="character-strength" class="col-form-label">Empathy:</label>
                        <input type="range" min="0" max="5" class="form-control" name="empathy" id="character-empathy">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="character-create" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>